<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808890816088-ob5em7mloem4ur0ajjgns90peoc64ohj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808890816088-ob5em7mloem4ur0ajjgns90peoc64ohj</string>
	<key>API_KEY</key>
	<string>AIzaSyCVUxveyMu5vBS-Mx021Woge9JAA5MqNcM</string>
	<key>GCM_SENDER_ID</key>
	<string>808890816088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeihmproject</string>
	<key>PROJECT_ID</key>
	<string>ihmproject-a1a57</string>
	<key>STORAGE_BUCKET</key>
	<string>ihmproject-a1a57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808890816088:ios:845be8f0c827bf2da1dc2d</string>
</dict>
</plist>